:root {
    --black: #222222;
    --pink-bkg: #F1E4E6;
    --pink-txt: #F1808F;
    --subscribe-wrp: 448px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

body {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;

}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__button {
    background: transparent;
    border: none;
}

.header__link, .header__button {
    text-decoration: none;
    margin: 0 41px 0 0;
}

.brand {
    background-color: var(--pink-bkg);
    display: flex;
    align-items: center;
}

.brand__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.brand__sub-title {
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.brand__sub-title--pink {
    color: var(--pink-txt);
}

.sales {
    margin-top: 65px;
}

.sales__list {
    display: flex;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
}

.sales__item--woman {
    background-image: url("./img/skids_box-1.jpg");
}

.sales__item--man {
    background-image: url("./img/skids_box-2.jpg");
}

.sales__item--kids {
    background-image: url("./img/skids_box-3.jpg");
}

.sales__item--shoes {
    background-image: url("./img/skids_box-4.jpg");
    flex-grow: 1;
}

.sales__item-title {
    font-size: 24px;
    color: var(--pink-txt);
}

.sales__item-text {
    line-height: 28px;
    color: #FFFFFF;;
}

.products {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}


.products__about {
    margin-bottom: 46px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
}

.products__item {
    margin-bottom: 20px;
    background: #F8F8F8;
    margin-right: 20px;
    max-width: 360px;
    min-height: 580px;
    box-sizing: border-box;
}

.products__item-img {
    margin-bottom: 25px;
}

.products__item-title {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 12px;
    margin-left: 18px;
}

.products__item-about {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 0 28px 18px 16px;
}

.products__item-link {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-left: 18px;
}

.products__button {
    margin-top: 48px;
    width: 211px;
    min-height: 47px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: transparent;
    border: 1px solid #FF6A6A;
}

.benefits {
    margin-top: 109px;
    display: flex;
    align-items: center;
    min-height: 340px;
    color: #FBFBFB;
    background: #222224;
}

.benefits__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__item-icon {
    height: 35px;
    margin-bottom: 19px;
}

.benefits__item-title {
    font-size: 20px;
    font-weight: 400;
}

.benefits__item-about {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
}

.subscribe {
    background: url("./img/subscribe.jpg") no-repeat;
    min-height: var(--subscribe-wrp);
}

.subscribe-wrp {
    width: 100%;
    min-height: var(--subscribe-wrp);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subscribe-wrp__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-wrp__text {
    margin-top: 30px;
    width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.subscribe-wrp__form-wrp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subscribe-wrp__form-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.subscribe-wrp__sub-title {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.—Åopyright {
    background: var(--black);
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.copyright-wrp {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-wrp__list {
    display: flex;
}

.copyright-wrp__item {
    margin-right: 9px;
}