body {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
}

.header-wrapper {
    min-height: 148px;
    background: #F8F3F4;
}

.header-wrapper__title {
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    padding-top: 65px;
}

.registration {
    margin-bottom: 96px;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.registration__wrp {
    max-width: 652px;
}

.registration__wrp-title {
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
}

.registration__wrp-list {
    padding-left: 28px;
}

.registration__wrp-text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
}

.registration__wrp-item {
    position: relative;
    margin-bottom: 16px;
}

.registration__wrp-item:before {
    content: '';
    width: 20px;
    height: 16px;
    position: absolute;
    top: 6px;
    left: -28px;
    background-image: url("./img/list-item.svg");

}

.registration__form-input {
    box-sizing: border-box;
    padding-left: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-bottom: 20px;
    width: 358px;
    height: 44px;
    display: block;
    background: none;
    border: none;
    outline: 1px solid #A4A4A4;
}

.form__legend {
    margin-bottom: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.form__radio {
    margin: 0;
}

.form__wrp-radio {
    margin-top: 31px;
    margin-bottom: 31px;
}

.form__sex {
    margin-left: 10px;
    margin-right: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 13px;
}
.form__text {
    max-width: 359px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 55px;
    color: #B1B1B1;
}

.registration__sub-title {
    font-size: 20px;
}
.registration__form-button {
    width: 167px;
    text-transform: uppercase;
    height: 50px;
    color: #FF6A6A;
    background: none;
    border: 1px solid #FF6A6A;
    font-size: 14px;
    line-height: 17px;
}

.registration__form-button:hover,
.registration__form-button:focus {
    background: #FF6A6A;
    color: white;
}