.header {
  background-color: $black;

  &__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
  }

  &__logo {
    margin: 0 41px 0 0;
  }

  &__button {
    background: transparent;
    border: none;
  }

  &__link, &__button {
    text-decoration: none;
    margin: 0 41px 0 0;
  }

}

@media (max-width: $mobile-width) {
  .header__link {
    display: none;
  }
}