.sales {
  margin-top: 65px;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;

    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      width: 32%;
      min-height: 168px;
    }

    @include mobile {
      width: 100%;
      min-height: 247px;
    }
  }

  &__item--woman {
    background-image: url("../img/skids_box-1.jpg");
  }

  &__item--man {
    background-image: url("../img/skids_box-2.jpg");
  }

  &__item--kids {
    background-image: url("../img/skids_box-3.jpg");
  }

  &__item--shoes {
    background-image: url("../img/skids_box-4.jpg");
    width: 100%;
    @include tablet {
      min-height: 116px;
    }
  }

  &__item-title {
    font-size: 24px;
    color: $pink-txt;
  }

  &__item-text {
    line-height: 28px;
    color: #FFFFFF;;
  }
}
